/* Utilities */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: steelblue;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Text colors */
.text-primary {
  color: lightblue;
}

.text-secondary {
  color: steelblue;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  opacity: 1;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: steelblue;
  padding: 10px 20px;
  margin: 0 5px;
  font-weight: bold;
  font-size: 1.1rem;
}

.navbar a:hover {
  border-bottom: lightblue 2px solid ;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.navbar * {
  z-index: 10;
}

/* Header */
.hero {
  background: url('../img/view1.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero *{
  z-index: 10;
}

/* Button */
.btn {
  position: relative;
  cursor: pointer;
  display: block;
  padding: 10px 30px;
  color: lightblue;
  background-color: transparent;
  border: steelblue 2px solid;
  text-transform: uppercase;
  border-radius: 20px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 11;
  color: #333;
  font-weight: bold;
}

.btn .liquid {
  position: absolute;
  left: -4px;
  top: -85px;
  width: 200px;
  height: 200px;
  background: lightblue;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  transition: 0.5s ;
}

.btn .liquid::before, 
.btn .liquid::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.btn .liquid::before {
  border-radius: 45%;
  background: rgb(70, 130, 180,1);
  animation: animate 5s linear infinite ;
} 

.btn .liquid::after {
  border-radius: 40%;
  background: rgba(70,130,180, 0.5);
  animation:animate 10s linear infinite ;
}


.btn:hover .liquid {
  top: -10px;
}

.btn:hover span {
  color: #fff;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}



/* Gallery */
.gallery {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  background: #ddd;
}


.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 10px;
  /* padding: 15px; */
}

.description {
  display: none;
  position: absolute;
}

.gallery > div:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.gallery > div:hover .description {
  display: block;
  text-align: center;
  cursor: pointer;
}

.gallery > div:hover img {
  opacity: 0.7;
  border: steelblue 2px solid;
  
}

.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #333;
  padding: 15px;
  margin: 0 8px;
}


/* Map and Info  */
#map {
  height: 500px;
  width: 50%;
  display: flex;
  border-radius: 10px;
}
  
#info {
  height: 500px;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#info h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.7rem;
  margin: 10px 0;
}

#info p {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  border: #333 1px solid;
  border-radius: 10px;
}
  
.location {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-top: #333 solid 1px;
  width: 100%;
  background: #ddd;
}
